* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: white;
  padding: 10px 20px;
}

.nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.menu-btn {
  display: none;
  font-size: 22px;
}

/* LAYOUT */
.container {
  display: flex;
}

.sidebar {
  width: 200px;
  background: #f4f4f4;
  padding: 15px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 15px;
}

/* CARD */
.card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

/* IMAGE*/
.card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  background: #f9f9f9;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar-title {
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 2px solid #222;
  padding-bottom: 8px;
}

.category-list {
  list-style: none;
  padding: 0;
}

.category-list li {
  padding: 10px 12px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s;
}

.category-list li:hover {
  background: #e9ecef;
}

.category-list li.active {
  background: #222;
  color: white;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .content {
    grid-template-columns: repeat(7, 1fr);
  }
}

/* TABLET */
@media (max-width: 1200px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* TABLET */
@media (max-width: 992px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* MOBILE */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .category-list {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }


  .category-list li {
    white-space: nowrap;
  }

  .nav {
    display: none;
    flex-direction: column;
    background: #333;
    position: absolute;
    top: 50px;
    right: 0;
    width: 150px;
  }

  .nav a {
    padding: 10px;
    border-bottom: 1px solid #444;
  }

  .menu-btn {
    display: block;
  }

  .card img {
    height: 140px;
  }
}